In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('SortingSignalsSwissprot.csv')

In [8]:
df.rename(columns={'Sequence':'Sequence_full'}, inplace=True)

In [9]:
df

,ACC,AnnotEncoded,Kingdom,Sequence_full,Types
0,O75439,3333333333333333333333333333333333333333333330...,Metazoa,MAAAAARVVLSSAARRRLWGFSESLLIRGAAGRSLYFGENRLRSTQ...,MT
1,Q9BZM5,1111111111111111111111111000000000000000000000...,Metazoa,MAAAAATKILLCLPLLLLLSGWSRAGRADPHSLCYDITVIPKFRPG...,SP_GPI
2,Q2TBK2,3333333333333333333333333333333333333333333333...,Metazoa,MAAAAFAVPRGVQLRVLTERLLRGGVRELLRPRLSGSTPGSERDFS...,MT
3,Q5VY80,0000000000000000000000000000000000000000000000...,Metazoa,MAAAAIPALLLCLPLLFLLFGWSRARRDDPHSLCYDITVIPKFRPG...,GPI
4,Q9BZM6,0000000000000000000000000000000000000000000000...,Metazoa,MAAAASPAFLLCLPLLHLLSGWSRAGWVDTHCLCYDFIITPKSRPE...,GPI
...,...,...,...,...,...
1869,P00367,3333333333333333333333333333333333333333333333...,Metazoa,MYRYLGEALLLSRAGPAALGSASADSAALLGWARGQPAAAPQPGLA...,MT
1870,P07727,1111111111111111111111111111000000000000000000...,Metazoa,MYSFNTLRFYLWETIVFFSLAASKEADAARSAPKPMSPSDFLDKLM...,SP
1871,P12234,3333333333333333333333333333333333333333333333...,Metazoa,MYSSVVHLARANPFNAPHLQLVHDGLAGPRSDPAGPPGPPRRSRNL...,MT
1872,Q8WZM3,3333333333333333333333000000000000000000000000...,Fungi,MYSVLKQSIRPRLLATHNQFRTMITAQAVLYTQHGEPKDVLFTQSF...,MT
1873,Q08032,0000000000000000000000000000000000000000000000...,Fungi,MYYGISQFSEAYNKILRNSSSHSSCQLVIFVSCLNIDALCATKMLS...,NLS

In [10]:
new_df = df[df['Types']=='MT']

In [15]:
df['Sequence_full'] = df['Sequence_full'].apply(list)

In [69]:

# Define a function to extract begin and end positions of the motif
def extract_motif_positions(sequence, motif_positions):
    # Convert positions to integers
    motif_positions = [int(pos) for pos in motif_positions]
    
    # Construct the motif from the sequence and motif_positions
    motif = ''.join(sequence[pos-1] if pos != 0 else '-' for pos in motif_positions)
    
    # Initialize start and end positions
    start_pos = None
    end_pos = None
    
    # If motif is not just a dash
    if motif != '-':
        # Iterate through the sequence to find the motif
        for i in range(len(sequence) - len(motif) + 1):
            if sequence[i:i+len(motif)] == motif:
                start_pos = i + 1
                end_pos = i + len(motif)
                break
    
    return start_pos, end_pos

In [70]:
# Apply the function to create new columns with extracted information
new_df['Begin'], new_df['End'] = zip(*new_df.apply(lambda row: extract_motif_positions(row['Sequence_full'], row['AnnotEncoded']), axis=1))

In [71]:
new_df

,ACC,AnnotEncoded,Kingdom,Sequence_full,Types,Begin,End
0,O75439,3333333333333333333333333333333333333333333330...,Metazoa,MAAAAARVVLSSAARRRLWGFSESLLIRGAAGRSLYFGENRLRSTQ...,MT,None,None
2,Q2TBK2,3333333333333333333333333333333333333333333333...,Metazoa,MAAAAFAVPRGVQLRVLTERLLRGGVRELLRPRLSGSTPGSERDFS...,MT,None,None
6,O75489,3333333333333333333333333333333333330000000000...,Metazoa,MAAAAVARLWWRGILGASALTRGTGRPSVLLLPVRRESAGADTRPT...,MT,None,None
13,Q3ULF4,3333333333333333333333333333333333333333333000...,Metazoa,MAAALLLLRGLRPGPEPRPRRLWGLLSGRGPGLSSGAGARRPYAAR...,MT,None,None
14,P0C2C0,3333333333333333333333333333333333333333000000...,Metazoa,MAAALLRELGALWVPNLRIWTTQMLRVLPQSCIHTSTSLDISRRWE...,MT,None,None
...,...,...,...,...,...,...,...
1866,Q93ZM7,3333333333333333333333333333333000000000000000...,Viridiplantae,MYRVLSKLSSSIGSSTSRKLVSGRIISSRNYAAKDISFGIGARAAM...,MT,None,None
1868,P49448,3333333333333333333333333333333333333333333333...,Metazoa,MYRYLAKALLPSRAGPAALGSAANHSAALLGRGRGQPAAASQPGLA...,MT,None,None
1869,P00367,3333333333333333333333333333333333333333333333...,Metazoa,MYRYLGEALLLSRAGPAALGSASADSAALLGWARGQPAAAPQPGLA...,MT,None,None
1871,P12234,3333333333333333333333333333333333333333333333...,Metazoa,MYSSVVHLARANPFNAPHLQLVHDGLAGPRSDPAGPPGPPRRSRNL...,MT,None,None
1872,Q8WZM3,3333333333333333333333000000000000000000000000...,Fungi,MYSVLKQSIRPRLLATHNQFRTMITAQAVLYTQHGEPKDVLFTQSF...,MT,None,None